<h1>Edit <%= @song.name %></h1>

<form action='/songs/<%= @song.slug %>' method='POST'>
<input type="hidden" name="_method" value="patch">
<label>Name:</label>
<input type="text" name="Name" value="<%= @song.name %>">
<br>
<label>Artist:</label>
<input type="text" name="artist_name" id="Artist Name" value="<%= @song.artist.name %>">
<br>
<% @genres.each do |genre| %>
  <label><%= genre.name.capitalize %></label>
  <input type="checkbox" name="genre_slugs[]" id="<%=genre.name%>" value="<%= genre.slug %>" <%='checked' if @song.genres.include?(genre) %>>
  <br>
<% end %>
<input type="submit" value="Save">

</form>
