<h1>Song Title: <%=@song.name%></h1>
<p>Link to Song: <a href="/songs/<%=@song.slug%>"><%=@song.name%></a></p>
<h2>Song By: <a href="/artists/<%=@artist.slug%>"><%=@artist.name%></a></h2>
<h2>Genre: <a href="/genres/<%=@genre.slug%>"><%=@genre.name%></a></h2>
